body{
    background-color: #1f2122;
}

.starting{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.menu ul li a{
    text-decoration: none;
   display: block;
   color: #666;
   padding: 10px;
}
.red{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 20px;
}
.search-button input{
    background-color: #2c2d2e;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    padding: 0 15px 0 40px;
    font-family: inherit;

}
.head h4{
color: #ec6090;
font-size: 40px;
margin-bottom: 30px;
font-weight: 700;
}
.head h4 em{
color: #fff;
font-style: normal;
text-decoration: underline;
}

.item{
background-color: #27292a;
padding: 30px 15px;
width: 100%;
border-radius: 24px;
}
.item h4{
    color: white;
}
.item ul li{
    color: #fff;
}
.item img{
border-radius: 20px;
}
.boxes{
    background-color: #1c1c1d;
    margin-top: 110px;
    padding: 60px;
    border-radius: 23px;
    justify-content: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.item ul li i{
    color: yellow;
}
.boxes{
display: flex;
flex-wrap: wrap;
gap: 3rem;
}

.head{
    display: flex;
    justify-content: center;
}
.head h4{
    position: absolute;
    display: flex;
    left: 30px;
}